/** Basic config file **/

configuration {
    modi:               "drun,windowcd,combi,file-browser";
    show-icons:         true;
    icon-theme:         "Papirus";
    matching:           "fuzzy";
    sorting-method:     "fzf";
    sort:               true;
}

@import "~/.config/rofi/themes/dt-center.rasi"
