.config/Microsoft
.config/discord
.config/teams
.config/pulse
.config/QtProject.conf
.config/autostart
.config/vlc
.config/nvim/.netrwhist
.config/nvim/plugged
.config/qtile/__pycache__/*
.config/Code - OSS
.config/cmus/
.config/dconf/
.config/obsidian/
.config/vivaldi
.config/mimeapps.list
.config/VirtualBox/
.config/calligrageminirc

.doom.d/custom.el
.config/nomacs/
.config/filemanager-actions/filemanager-actions.conf
.config/filemanager-actions/
.config/RStudio/
.config/rstudio/
