[submodule "dotbot"]
    path = dotbot
    url = https://github.com/anishathalye/dotbot

[submodule "chemacs2"]
    path = chemacs2
    url = https://github.com/plexus/chemacs2
[submodule "config/ranger/ranger_devicons"]
	path = config/ranger/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons.git
