body {
    background: #0e0c0c;
    -moz-user-select: none;
    overflow: hidden;
    cursor: default;
    min-width: 480px;
}

.grid-container {
    height: 450px;
    padding-top: 350px;
    margin-left: 15%;
    display: grid;
    opacity: 1;
    gap: 12px 12px;
    text-align: center;
    justify-content: center;
    grid-template-columns: repeat(5, 15%);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "gmail docs linkedin reddit"
      "youtube vtop archwiki github";
    transition: opacity .5s;
}

div.grid-container > * {
    background-color: #110f0f;
    vertical-align: middle;
    border-radius: 6px;
}

div.grid-container > *:hover {
    border: 1px solid #f5962e;
    transition: border 1s;
}

.gmail          { grid-area: gmail;         }
.docs           { grid-area: docs;          }
.linkedin       { grid-area: linkedin;      }
.github         { grid-area: github;        }
.reddit         { grid-area: reddit;        }
.youtube        { grid-area: youtube;       }
.vtop           { grid-area: vtop;          }
.archwiki       { grid-area: archwiki;      }

a {
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: font-size .3s;
}

a:visited, a:link, a:active {
    color: #efcf9f;
    text-decoration: none;
    font-size: 36px;
}

.fas, .fab, .far, .ico {
    position:relative;
    top: calc(40% - 10px);
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #110f0f;
    text-align: center;
}

.footer-backdrop{
    border-radius: 1px;
    opacity: 1;
    transition: opacity 0 .9s;
}

.footer-name-text > a {
    font-size: 20px;
    color: #f5962e;
}