body{
  background-image: url('../../../Pictures/Wallpapers/hornet.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-container{
  padding-top: 350px;
  margin-left: 10%;
  grid-template-areas:
    "1 2"
    "3 4"
    "5 6"
    "7 8";
}

div.grid-container>*{
  text-decoration: none;
}

a, a:visited, a:link, a:hover{
  color: aliceblue;
  text-decoration: none;
}